<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Deep Learning Model</title>
    <style>
    </style>
</head>
<body class="back">
    <h1 align="center">
        The Handwritten Digit Recognition
    </h1>
    <div align="center">
        <h3>Prediction:</h3>
        {%if data == 0%}
        <h1>0</h1>
        {%elif data == 1%}
        <h1>1</h1>
        {%elif data == 2%}
        <h1>2</h1>
        {%elif data == 3%}
        <h1>3</h1>
        {%elif data == 4%}
        <h1>4</h1>
        {%elif data == 5%}
        <h1>5</h1>
        {%elif data == 6%}
        <h1>6</h1>
        {%elif data == 7%}
        <h1>7</h1>
        {%elif data == 8%}
        <h1>8</h1>
        {%elif data == 9%}
        <h1>9</h1>
        {%endif%}
        <a href="/">Go Back</a>

    </div>
</body>
</html>